@import '/src/_Variable.scss';



main {
    background-color: $second-color;
    min-height: calc(-106px + 100vh);

        .line {
            background-color: #fff;
            height: 4px;
            width: 80px;
        }
    }
